<%# create a table of the categories, resembling an actual database  %>
<table class="categories-table">
  <thead>
    <tr>
      <%# categories/columns %>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th> 
    </tr>
  </thead>
  <tbody>
    <%# iterate through the data in categories and get its attributes to create a row %>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.description %></td>
        <td><%= category.status ? "Active" : "Inactive" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
