<%# clickable to sort the categories by their name %>
<%= link_to "Sort by Name", "#sorted", id: "sortByName", class: "sort-link" %>

<%# create a table of the categories, resembling an actual database  %>
<table class="categories-table">
  <thead>
    <tr>
      <%# categories/columns %>
      <th class="sortable">Name</th>
      <th class="sortable">Description</th>
      <th class="sortable">Status</th> 
    </tr>
  </thead>
  <tbody>
    <%# iterate through the data in categories and get its attributes to create a row %>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.description %></td>
        <td><%= category.status ? "Active" : "Inactive" %></td>
      </tr>
    <% end %>
  </tbody>
</table>